<img src="/logo.jpg">
<nav class="navbar navbar-expand-lg navbar-light bg-light">    
    <a class="navbar-brand">Courses</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="0">One</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="1">Two</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="2">Tree</a>
      </li>
    </ul>
  </nav>
  