<%- include('header') %>
    <div class="container-fluid m-auto">
        <div class="row justify-content-center">
            <img src="img/error_outline.svg" height="200px" class="d-none d-sm-block" alt="icône d'erreur">
            <div class="col-auto">
                <h1 class="display-1 font-weight-bold">404</h1>
                <p class="font-weight-bold">La page que vous cherchez n'existe pas!</p>
                <p>Vous allez être redirigés vers la page d'accueil.</p>
            </div>
        </div>
    </div>
<%- include('footer') %>