<%- include('header'); %>
<div id="bg-home" class="d-flex flex-column">
    <h1 class="m-auto justify-content-center display-1">
        <b>Pizzeriasite</b>
    </h1>
    <div id="presentation" class="container-fluid row mt-auto mb-0 justify-content-center position-absolute">
        <div class="col-4 col-lg-2">
            <img src="img/select_food.svg" alt="food">
            <p>Commander</p>
        </div>
        <div class="col-4 col-lg-2">
            <img src="img/delivery.svg" alt="delivery">
            <p>Faites vous livrer</p>
        </div>
        <div class="col-4 col-lg-2">
            <img src="img/eat.svg" alt="eat">
            <p>Déguster</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/ajaxRequest.js"></script>
<%- include('footer'); %>