<!DOCTYPE html>
<html lang="fr">

<head>

</head>

<body class="container">
    <header>
        <div>
            <%- include('header'); %>
        </div>
    </header>

    <main>
        <div class="jumbotron">

        </div>
    </main>
    <ul class="">

    </ul>
    <footer>
        <div>
            <%- include('footer'); %>
        </div>
    </footer>

</body>

</html>