body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F7F2F2;
    color: #1C1C1E;
    overflow-x: hidden;
}

.secondary{
    background-color: #D8D8DC;
    padding: 20px;
    margin: 64px 10px auto auto;
}

.color-text{
    color: #1C1C1E;
}

.btn{
    width: 100%;
    margin: 0;
}

/*index*/
#container-navigation-bar{
    max-width: 250px;
}

#v-pills-pizzas div div img{
    width: 200px;
    height: 200px;
}

#main-container{
    padding: 0;
    min-height: 100vh;
}

#all-pizzas div{
    padding: 12px;
}

#all-pizzas div img{
    object-fit: cover;
    border-radius: 12px;
}

.name-pizza{
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 0px;
}

.price-pizza{
    opacity: 0.5;
    margin-bottom: 8px;
}

.card-cmd{
    border-radius: 12px;
}
.element {
    padding-top: 15px;
    padding-bottom: 15px;
}
.element p{
    font-weight: normal;
    margin-bottom: 8px;
}
.element p:first-child {
    font-weight: bold;
}
.price{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.price p{
    margin: auto;
    font-weight: bold;
}
.price p:first-child{
    margin-left: 0;
}
.price p:last-child{
    margin-right: 0;
}
button{
    margin: 10px;
    width: 225px;
}
.info p{
    margin: auto;
    font-weight: bold;
    margin-left: 0;
}
.info{
    display: flex;
    flex-direction: row;
}
#v-pills-tab a p{
    margin: auto auto auto 6px;
}
#v-pills-tab{
    padding-top: 64px;
}
#header-border{
    width: 90%;
    border-bottom: solid 1px #333741;
    margin: 20px auto 5px;
}
.element-menu{
    margin-left: auto;
    margin-right: 0;
    width: auto;
    display: flex;
    flex-direction: row
}
.element-menu div{
    display: flex;
    flex-direction: row;
}
.element-menu div p{
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
}
.element-menu p{
    margin: 0;
    margin-left: auto;
    float: right
}

#container-cart{
    max-width: 350px;
}

#container-items{
    max-width: 1050px;
}

/*livreur*/
.main-container-livreur{
    padding-left: 15px;
}

#container-in-progress{
    max-width: 1050px;
}

.secondary-livreur{
    margin-right: 0;
    margin-top: 32px;
}

.price-livreur, .btn-livreur{
    max-width: 250px;
}

.time-livreur{
    margin-right: 0;
}

.content-commande-livreur{
    max-width: 300px;
}

#new-order{
    margin-top: 50px;
}

.info-livreur p:last-child{
    margin-right: 0;
}

@media only screen and (max-width: 992px){
    #container-navigation-bar{
        margin: auto;
        max-width: 90%;
        flex-direction: row;
        border-bottom: solid 2px #007bff;
    }
    #container-navigation-bar div a p{
        display: none;
    }
    #container-navigation-bar div a{
        margin: auto;
        border-radius: 4px 4px 0 0;
    }
    #container-navigation-bar div a{
        margin: auto;
    }
    #container-cart{
        max-width: 100%;
    }
}

@media only screen and (max-width: 720px){
    .wip-livreur{
        display: none;
    }
}

@media only screen and (max-width: 480px){
    #container-navigation-bar{
        /*margin: auto;
        max-width: 90%;
        flex-direction: row;*/
        border-bottom: none;
    }
    #container-navigation-bar div a{
        border-radius: 4px;
    }
    .info-livreur{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1160px) {
    #v-pills-pizzas div div img{
        width: 250px;
        height: 250px;
    }
}

/*dark mode*/
@media(prefers-color-scheme: dark){
    body {
        background-color: #1C1C1E;
        color: #F7F2F2;
    }
    .secondary{
        background-color: #2c2c2e;
    }
    .color-text{
        color: #F7F2F2;
    }
}
