body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    color: #1C1C1E;
    overflow-x: hidden;
    padding-top: 90px;
}

.secondary{
    background-color: #D8D8DC;
    padding: 20px;
    margin: 64px 10px auto auto;
}

.color-text{
    color: #1C1C1E;
}

.btn{
    width: 100%;
    margin: 0;
}

.modal-header, .modal-footer{
    border: none;
}

.modal-dialog{
    max-width: 1000px;
}

/*nav*/
#style-logo{
    margin: 0px;
    height: 70px;
}

.rmv-style-btn{
    padding: 1px 6px;
    margin: 25px 10px;
}

.rmw-style-a:hover, .rmw-style-a{
    color: #1C1C1E;
    text-decoration: inherit;
}

.rmv-style-btn{
    border: none;
    height: 25px;
    background-color: transparent;
    color: #1C1C1E;
    width: auto;
    margin-top: 25px;
    transition: all .5s;
}

.rmv-style-btn:hover{
    opacity: .5;
    transition: all .5s;
}

#blur-nav{
    height: 300%;
    width: 150%;
    margin-top: -8px;
    transition-duration: .5s;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    background-color: rgba(250,250,250, 0.85);
}

#menu-bar-left{
    width: 100%;
    max-width: 1553px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#menu-bar-left img{
    margin: 5px 50px 5px 25px;
}

#hb-button{
    padding: 0; margin: 0; width: auto;
}

#nav-navigation{
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 100;
}

#modal-body-item{
    min-height: 150px;
    display: flex;
}

.modal-footer{
    margin-top: 50px;
}

#modal-body-signin-user div, #modal-body-signup-user div, .modal-footer button {
    max-width: 600px;
    margin: auto;
}

#signup-modal-content{
    display: none;
}

.style-link{
    text-decoration: underline;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

/*responsive*/
@media only screen and (max-width: 576px) {
    #menu-bar-left img{
        margin-right: 5px;
    }
}

@media only screen and (max-width: 480px){
    #menu-bar-left img{
        display: none;
    }
}

/*dark mode*/
@media(prefers-color-scheme: dark){
    body {
        background-color: #1C1C1E;
        color: #F7F2F2;
    }
    .rmv-style-btn{
        color: #F7F2F2;
    }
    .rmw-style-a:hover{
        color: #F7F2F2;
        text-decoration: inherit;
    }
    #blur-nav{
        background-color: rgba(28, 28, 30, 0.85);
    }
    .secondary{
        background-color: #2c2c2e;
    }
    .color-text{
        color: #F7F2F2;
    }
}
